#hai_nav{
  top: 30px;
  padding: 0;
  &.open{
    .navbar-menu{
      top: 60px;
    }
  }
  .navbar-toggler{
    width: 100%;
    border-radius: 0;
    height: 100%;
  }
  .uk-icon{
    font-size: 20px;
    width: 20px;
  }
}
.nav1{
  .uk-navbar-nav{
    li{
      a{
        background-color: rgba(51, 51, 51, 0.8);
        text-transform: inherit;
        color: #ffffff;
      }
    }
  }
}